$main_puple: #7030a0;

// Function to add opacity to a color
@function add-opacity($color, $opacity) {
    // Return the color with the specified opacity
    @return rgba($color, $opacity);
}

.en-lang {
    font-family: 'copperplate-gothic', sans-serif !important; // Copperplate Gothic 폰트 적용
    padding-top: 2px;
}

body.page.hide-title {
    .hentry>h1 {
        display: none;
    }
}

body.bricks-is-frontend #brx-content :focus-visible {
    outline: none !important;
    border: 1px solid;
}

body #brx-content {
    padding-top: 110px;

    :lang(en) {
        font-family: 'copperplate-gothic', sans-serif; // Copperplate Gothic 폰트 적용
    }

    // 한글 텍스트에 대한 스타일
    :lang(ko) {
        font-family: 'malgun-gothic', sans-serif; // Malgun Gothic 폰트 적용
    }

    .splide__pagination .splide__pagination__page {
        background-color: rgba(#d6d6d6, 0.6);
    }

    .splide__pagination .splide__pagination__page.is-active {
        background-color: white;
    }

    #profile_image_preview {
        width: 100px;
        margin-left: 10px;
    }

    .loading-indicator {
        &.hidden {
            display: none !important;
        }

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 9999999999999999;

        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
            transform: scale(3);

            .pswp__preloader__icn {
                opacity: 0.75;
                width: 14px;
                height: 14px;
                -webkit-animation: clockwise 500ms linear infinite;
                animation: clockwise 500ms linear infinite;
            }

            /* The idea of animating inner circle is based on Polymer loading indicator by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html */
            .pswp__preloader__cut {
                position: relative;
                width: 7px;
                height: 14px;
                overflow: hidden;

                position: absolute;
                top: 0;
                left: 0;
            }

            .pswp__preloader__donut--fake {
                box-sizing: border-box;

                width: 14px;
                height: 14px;

                border: 2px solid red;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;

                background: none;
                margin: 0;
            }

            .pswp__preloader__donut {
                box-sizing: border-box;

                width: 14px;
                height: 14px;


                border: 2px solid #FFF;
                border-radius: 50%;
                border-left-color: transparent;
                border-bottom-color: transparent;

                position: absolute;
                top: 0;
                left: 0;

                position: absolute;
                top: 0;
                left: 0;

                background: none;
                margin: 0;

                -webkit-animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
                animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;

            }


            @-webkit-keyframes clockwise {
                0% {
                    -webkit-transform: rotate(0deg)
                }

                100% {
                    -webkit-transform: rotate(360deg)
                }
            }

            @keyframes clockwise {
                0% {
                    transform: rotate(0deg)
                }

                100% {
                    transform: rotate(360deg)
                }
            }

            @-webkit-keyframes donut-rotate {
                0% {
                    -webkit-transform: rotate(0)
                }

                50% {
                    -webkit-transform: rotate(-140deg)
                }

                100% {
                    -webkit-transform: rotate(0)
                }
            }

            @keyframes donut-rotate {
                0% {
                    transform: rotate(0)
                }

                50% {
                    transform: rotate(-140deg)
                }

                100% {
                    transform: rotate(0)
                }
            }
        }
    }
    
    .text-little-up {
        display: block;
        margin-top: -2px;
    }
}