#brx-content {

    .kboard-gallery-foreground,
    .kboard-gallery-username {
        display: none !important;
    }

    #kboard-ocean-gallery-list {

        /* 'kboard-list' 컨테이너에 그리드 레이아웃 적용 */
        .kboard-list {
            display: grid;
            /* 그리드 디스플레이 활성화 */
            grid-template-columns: repeat(3, 1fr);
            /* 3개의 동일한 크기의 컬럼 생성 */
            gap: 60px;
            /* 그리드 항목 간 간격 설정 */

            .kboard-gallery-item {
                display: block;
                width: 100%;
                padding: 0;

                a {
                    display: flex;
                    flex-direction: column-reverse;

                    .kboard-gallery-thumbnail {
                        position: relative;

                        width: 100%;
                        float: none;
                        margin: 0;

                        padding: 24px;
                        background-color: rgba($main_puple, 0.2);

                        .download-button {
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            background-color: #4CAF50; /* Green background */
                            color: white; /* White text */
                            padding: 10px 15px; /* Padding around text */
                            text-align: center; /* Centered text */
                            text-decoration: none; /* No underline for the text */
                            display: inline-block; /* Fit the content */
                            font-size: 16px; /* Text size */
                            border-radius: 8px; /* Rounded corners */
                            cursor: pointer; /* Cursor changes to pointer on hover */
                            opacity: 0;
                            transition: all 0.3s;

                            &:hover {
                                padding: 14px 18px;
                                font-weight: 700;
                            }
                        }

                        &:hover {
                            .download-button {
                                opacity: 1;
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }

                    .kboard-gallery-title {
                        float: none;
                        height: auto;
                        margin-bottom: 10px;
                        font-weight: 700;

                        &::before {
                            content: '<';
                        }
                        &::after {
                            content: '>';
                        }
                    }
                }
            }
        }

        /* 태블릿 화면 크기에 대한 반응형 디자인 */
        @media screen and (max-width: 768px) {
            .kboard-list {
                grid-template-columns: repeat(2, 1fr);
                /* 2개의 컬럼으로 변경 */
            }
        }

        /* 모바일 화면 크기에 대한 반응형 디자인 */
        @media screen and (max-width: 480px) {
            .kboard-list {
                grid-template-columns: 1fr;
                /* 1개의 컬럼으로 변경 */
            }
        }

    }
}

.country-list-container {
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5열 */
        grid-template-rows: repeat(3, auto); /* 3행, 각 행의 높이는 내용에 따라 자동 조정 */
        gap: 24px; /* 열과 행 사이의 간격 */

        li {
            a {
                display: block;
                border-radius: 25px;
                border: 2px solid red;
                text-align: center;

                background-color: #E9D5FF; /* bg-purple-200 */
                color: #5B21B6; /* text-purple-700 */
                /* custom-font: Define this based on your custom font settings */
                font-weight: 500; /* font-medium */
                font-size: 1.8rem; /* text-lg */
                padding: 1.8rem 3.2rem; /* px-8 and py-4 */
                border-radius: 1rem; /* rounded-2xl */
                border: 2px solid #C4B5FD; /* border-2 and border-purple-300 */
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                            0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
            }
        }
    }
}

#kboard-default-list .kboard-list table thead tr {
    border-bottom: 4px solid $main_puple;
}

.kboard-total-count {
    display: none !important;
}

select[name="kboard_list_sort"] {
    display: none !important;
}